{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": ["warn", "single"],
    "quote-props": ["warn", "consistent-as-needed"],
    "indent": ["warn", 2],
    "@typescript-eslint/indent": ["warn", 2],
    "prefer-const": "warn",
    "@typescript-eslint/no-namespace": "off"
  }
}
